<% log_cruncher = BuildLogCruncher.new(build_job) %>
<ol class='build-log'>
  <% log_cruncher.each_crunch do |crunch| %>
    <li class="crunch crunch-<%= crunch.status %>">
    <b><%= crunch.label %>
    <% unless crunch.logs.empty? %>
      <span class="open-log glyphicon glyphicon-list-alt" data-title="Log: <%= crunch.label%>" data-url="<%= step_log_build_job_path(build_job, crunch: crunch.label) %>" />
    <% end %>
    </b>
    <p>Status: <%= crunch.status %> </p>
    <p>Duration: <%= crunch.duration%></p>
    </li>
  <% end %>
</ol>

