<li class="build_job build_job-<%= build_job.status%>">
<b>Build Job <%= build_job.slug %></b>
| Started at: <%= build_job.created_at %>
| Exit status: <%= build_job.exit_status %>
   <br/><%= render partial: 'build_jobs/build_log', locals: {build_job: build_job} %><p>
</li>

